[submodule "3rd-party/QtJson"]
	path = 3rd-party/QtJson
	url = https://github.com/kernel-coder/QtJson.git
[submodule "3rd-party/QSimpleUpdater"]
	path = 3rd-party/QSimpleUpdater
	url = https://github.com/zhipeng515/QSimpleUpdater.git
[submodule "3rd-party/http"]
	path = 3rd-party/http
	url = https://github.com/zhipeng515/http.git
